#containerAll {
  background-color: CornflowerBlue;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#Table {
  padding: 100px;
}

#addContainer {
  padding-top: 50px;
}

#updateContainer {

}
