body {
  background-color: CornflowerBlue;
}

tr:nth-child(even) {background-color: RoyalBlue;}


th {
  text-align: left;
}

#Table {
  padding: 50px;
  width: 50%;
}

#containerAll {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#add {
  padding: 15px;
}

#addContainer {
  padding-top: 50px;
}

input[type="text"]:focus {
  border: 2px solid blue;
}
